:root {
    --marrom-avermelhado: #512414;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


#car {
    width: 100px;
    height: 100px;
}

#logo {
    width: 160px;
    height: 160px;
    float: left;
    padding: 0 2%;
}

.listas {
    width: 100%;
    height: 100px;
    
    padding-top: 50px;
    padding-left: 200px;
}

#lista1 {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
}

.cabeçalho {
    font-size: xx-large;
    color: var(--marrom-avermelhado);
    font-weight: bold;
    text-align: center;
}

#traço {
    background-color: var(--marrom-avermelhado);
    width: 100%;
    height: 50px;
}

.corpo {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}

#listabody {
    list-style: none;
}
#any{
    margin-top: 6%;
}
#new_text{
    position: relative;
    font-weight: 300;
    padding-right: 2%;
    padding-left: 2%;
    font-family: verdana;
}
.produtos {
    margin-top: 0.1%;
    text-align: center;
    width: 20%;
    height: 500px;
    float:left;
    overflow-y: scroll;
}

  
  .produtos::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .produtos::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .produtos::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--marrom-avermelhado);
  }


.liprodutos:hover{
    background-color: #a75538;
    transition: 0.5s;
    opacity: 0.7;
}
#ulprodutos{
    border-top: 20%;
    list-style: none;
    width: 80%;
    margin-left: 1.8%;
}
.h3produtos{
    text-align: left;
    margin-left:5%;
}
.tracinho{
    background-color: var(--marrom-avermelhado);
    height: 2px;
    width: 80%;
    margin-left: 1.8%;
}
.liprodutos{
    list-style: none;
    font-weight: 500;
    padding-right:50%;
    padding-top: 3%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    text-align: left;
    font-family: Verdana;
}
.link_produtos{
    text-decoration: none;
    color: black;
}
.imagens {
    padding-top: 50px;
    width: 75%;
    height: 100%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.faixa
{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 90%;
    background-color: var(--marrom-avermelhado);
}

.imagem
{
    padding-left: 30%;
    margin-top: 10px;
    height: 55%;
    width: 40%;
}

.botoes-add
{
    color: white;
    background-color: #a74138;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    float: left;
    border-radius: 20px;
    border: 1px solid black ;
}

.quantidade
{
    font-size: 15px;
    padding-top: 3px;
    font-weight: bold;
    font-family: Verdana;

}

.preco
{
    margin-top: 20px;
    text-align: center;
    color: var(--marrom-avermelhado);
    font-size: 15px;
    font-family: Verdana;
    font-weight: bolder;
}

